{% extends 'base.html.twig' %}

{% block title %}LINKOLVIN GESTIÓN DE TU EMPRESA
{% endblock %}

{% block body %}
	<h1>LINKOLVIN GESTIÓN DE TU EMPRESA</h1>
	{% if app.user %}
		Sessión iniciada como:
		{{ app.user.email }}
		
	{% endif %}
	<br>
	<br>
	<div>
		<a href="{{ path('oferta_new')}}">Crear nueva oferta</a>
		<br>
		<a href="{{ path('oferta_index')}}">Administración de tus ofertas</a>
	</div>
	<br>
	<a href="{{ path('app_logout') }}">Cerrar sessión</a>
{% endblock %}
