{% extends 'base.html.twig' %}

{% block title %}Edición de Oferta{% endblock %}

{% block body %}
    <h1>Edición de Oferta</h1>

    {{ include('oferta/_form.html.twig', {'button_label': 'Guarda canvios'}) }}
    <br>
    <a href="{{ path('oferta_index') }}">Volver</a>
    <br>
    <br>
    {{ include('oferta/_delete_form.html.twig') }}
{% endblock %}
