{% extends 'base.html.twig' %}

{% block title %}Creación de oferta{% endblock %}

{% block body %}
    <h1>Creación de oferta</h1>

    {{ include('oferta/_form.html.twig') }}

    <br>
    <a href="{{ path('index') }}">Atràs</a>
    
{% endblock %}
